<% if flash[:success] %>
  <div class="success" style="color:green"><%= flash[:success] %></div>
<% end %>
<%= render "login" %>

<h1>Welcome to Smiling Wasabi!</h1>


<% @genres.each do |genre|%>
  <div class = 'genre-tag'>
    <% genre.top5films.each.with_index do |film, index| %>
      <div class = 'movie-short'>
        index + 1 <%= film.title %> <%= film.review_score %>
      </div>
    <% end %>
  </div>
<% end %>