<%= render 'login' %>
<div class="general-container">
  <ul class="collection">
    <li class="collection-item avatar">
      <% @films.each do |film| %>
        <%= image_tag src: "#{film.poster}", class: "circle" %>
        <span class="title"><%= film.title %></span>
      <p>First Line <br>
         Second Line
      </p>
      <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
      <% end %>
    </li>
  </ul>
</div>