.login-header{
 font-size: 1.2rem;
}

.general-container{
  margin: 5%;
}

.center {
  text-align: center;
}

.bigger-text{
  font-size: 1.2em
}

.movie-short{
  font-size: 14pt;
}

nav .brand-logo{
  padding: 0;
  width: 65px;
}

#nav-mobile{
  width: 95%;
}
nav .nav-wrapper{
  background-color: #c1e58d;
}

#wasabi_logo {
  width: 100%;
  height: 100%;
}

.btn {
  background-color: #62349D;
}