<!-- need to pass in two local params:
      voteable is the film or review object
      vote_route is either /films/film.id or /reviews/review.id -->

<div class='vote-box'>
  <a href="<%= vote_route %>/vote" class='upvote'>Recommend this!</a>
  <span class="score"><%= "#{voteable.user_score}% with #{voteable.votes.length} people voting" %></span>
  <a href="<%= vote_route %>/vote" class='downvote'>This was bad!</a>
</div>